body{
    background-color: #1A0B2E;
    color: white;

}
.header{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}
.logo{
    color: rgb(212, 92, 134)
}
.header-list{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    list-style: none;
}
.header-list a{
    text-decoration: none;
    color: white;
}
.btn{
    background: linear-gradient(    #ff2bd2 0%,
    #c43bff 50%,
    #6f4bff 100%);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
}
.hero {
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 550px;
    height: 574px;
    margin: 0 auto;
}
.hero-img{
    position: absolute;
    top: 180px;
}
#btn1{
     background: linear-gradient(    #ff2bd2 0%,
    #c43bff 50%,
    #6f4bff 100%);
    color: white;
    border: 1px solid black;
    border-radius: 30px;
    padding: 20px;
    width: 201px;
    height: 44px;
}
#btn2{
    background-color: #1A0B2E;
    color: rgb(41, 184, 41);
    border: 1px solid black;
    border-radius: 30px;
    padding: 20px;
    width: 147px;
    height: 44px;
}

.about{
    margin-left: 200px;
    margin-right: 200px;
}
.about_info{
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
    width: 1200px;
    height: 148px;
}
.about_info p{
    font-size: 16px;
    line-height: 20px;
    line-gap-override: initial;
}
.card{
    width: 1200px;
    height: 148px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.card-ship{
    width: 240px;
    height: 59px;
}
.card-ship h1{
    color: #00FF88;
    font-size: 48px;
    font-weight: 400;
}

.grid{
    background-color: #230E3D;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 120px;
}
.grid h1{
    text-align: center;
}


.feature{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 120px;
}
.feature h1{
    text-align: center;
    margin-bottom: 40px;
}
.feature-video{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

}
.feature-item{
    border: 1px solid black;
    width: 280px;
    height: 440px;
    gap: 30px;
    border-radius: 30px;
}
.video{
    width: 280px;
    height: 210px;
}

.host{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.host-info{
    display: flex;
    width: 100%;
    border: 1px solid white;
    background-color:  #230E3D;
}
.host-info-img{
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.host-info-txt{
    padding-top: 60px;
}
.social-icons {
  margin-top: 18px;
  display: flex;
  gap: 12px;
}

.social-icons a {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #533C72;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
}
